<p-button class="btn_add" (click)="showDialog()"> + Thêm </p-button>

<form [formGroup]="bookingAddForm" (ngSubmit)="handleAddBooking()">
<div class="add_input">
  <p-dialog
    header="Thêm lịch đặt"
    [modal]="true"
    [(visible)]="display"
    (onHide)="closeDialog()"
    [style]="{ width: '33rem' }"
  >
    <div class="add_input_body">
      <label for="roomId" class="font-semibold w-6rem">
        Số phòng
        <span class="text-red">(*)</span>
      </label>
      <p-dropdown
        id="roomId"
        name="roomId"
        class="dropdown_search"
        placeholder="Chọn số phòng"
        autoWidth="false"
        [style]="{ width: '100%' }"
        [options]="roomForDropdown"
        optionLabel="roomNumber"
        optionValue="id"
        formControlName="roomId"
      />
    </div>
    <div *ngIf="bookingAddForm.get('roomId')?.invalid && bookingAddForm.get('roomId')?.touched" class="field-error">
     <small *ngIf="bookingAddForm.get('roomId')?.errors?.['required']">Phòng là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="userId" class="font-semibold w-6rem">
        Khách hàng
        <span class="text-red">(*)</span>
      </label>
      <p-dropdown
        name="userId"
        id="userId"
        class="dropdown_search"
        placeholder="Chọn khách hàng"
        autoWidth="false"
        [style]="{ width: '100%' }"
        [options]="userForDropdown"
        optionLabel="username"
        optionValue="id"
        formControlName="userId"
      />
    </div>
    <div *ngIf="bookingAddForm.get('userId')?.invalid && bookingAddForm.get('userId')?.touched" class="field-error">
     <small *ngIf="bookingAddForm.get('userId')?.errors?.['required']">Khách hàng là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="checkInDate" class="font-semibold w-6rem">
        Check-in
        <span class="text-red">(*)</span>
      </label>
      <p-calendar
        name="checkInDate"
        id="checkInDate"
        class="dropdown_search"
        dateFormat="dd/mm/yy"
        [style]="{ width: '100%' }"
        placeholder="Chọn ngày check-in"
        [showTime]="true"
        appendTo="body"
        formControlName="checkInDate"
      />
    </div>
    <div *ngIf="bookingAddForm.get('checkInDate')?.invalid && bookingAddForm.get('checkInDate')?.touched" class="field-error">
     <small *ngIf="bookingAddForm.get('checkInDate')?.errors?.['required']">Ngày check-in là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="checkoutDate" class="font-semibold w-6rem">
        Check-out
        <span class="text-red">(*)</span>
      </label>
      <p-calendar
        name="checkoutDate"
        id="checkoutDate"
        class="dropdown_search"
        dateFormat="dd/mm/yy"
        [style]="{ width: '100%' }"
        placeholder="Chọn ngày check-out"
        [showTime]="true"
        appendTo="body"
        formControlName="checkoutDate"
      />
    </div>
    <div *ngIf="bookingAddForm.get('checkoutDate')?.invalid && bookingAddForm.get('checkoutDate')?.touched" class="field-error">
     <small *ngIf="bookingAddForm.get('checkoutDate')?.errors?.['required']">Ngày check-out là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="deposit" class="font-semibold w-6rem"> Cọc </label>
      <input
        pInputText
        id="deposit"
        name="deposit"
        class="flex-auto"
        autocomplete="off"
        type="number"
        placeholder="Nhập tiền cọc"
        formControlName="deposit"
      />
    </div>
    <div class="add_input_body">
      <label for="amount" class="font-semibold w-6rem">
        Tổng tiền
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="amount"
        name="amount"
        class="flex-auto"
        autocomplete="off"
        type="number"
        placeholder="Nhập tổng tiền"
        formControlName="amount"
      />
    </div>
    <div *ngIf="bookingAddForm.get('amount')?.invalid && bookingAddForm.get('amount')?.touched" class="field-error">
     <small *ngIf="bookingAddForm.get('amount')?.errors?.['required']">Tổng tiền là bắt buộc</small>
    </div>
    <p-button class="btn_confirm_add" [disabled]="isSubmitDisabled" (click)="handleAddBooking()"> + Thêm </p-button>
  </p-dialog>
</div>
</form>