<i class="pi pi-check-circle" (click)="showDialog()"></i>

<div class="add_input">
  <p-dialog
    header="Cập nhật trạng thái phòng"
    [modal]="true"
    [(visible)]="display"
    (onHide)="closeDialog()"
    [style]="{ width: '33rem' }"
    [contentStyle]="{'overflow-y': 'auto', 'scrollbar-width': 'none', '-ms-overflow-style': 'none'}"
  >
    <div class="add_input_body">
      <label for="name" class="font-semibold w-6rem">
        Tên phòng
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập tên phòng"
        disabled
        [(ngModel)]="dataRoomSendToUpdate.name"
      />
    </div>
    <div class="add_input_body">
      <label for="roomNumber" class="font-semibold w-6rem">
        Số phòng
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="roomNumber"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập số phòng"
        disabled
        [(ngModel)]="dataRoomSendToUpdate.roomNumber"
      />
    </div>
    <div class="add_input_body">
      <label for="floor" class="font-semibold w-6rem">
        Tầng
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="floor"
        class="flex-auto"
        autocomplete="off"
        type="email"
        disabled
        placeholder="Nhập số tầng"
        [(ngModel)]="dataRoomSendToUpdate.floor"
      />
    </div>
    <div class="add_input_body">
      <label for="roomType" class="font-semibold w-6rem">
        Loại phòng
        <span class="text-red">(*)</span>
      </label>
      <p-dropdown
        optionLabel="name"
        optionValue="id"
        [options]="roomType"
        class="dropdown_search"
        optionLabel="name"
        placeholder="Chọn loại phòng"
        autoWidth="false"
        [style]="{ width: '100%' }"
        [disabled]="true"
        [(ngModel)]="dataRoomSendToUpdate.roomTypeId"
      />
    </div>
    <div class="add_input_body">
      <label for="dateOfBirth" class="font-semibold w-6rem"> Mô tả </label>
      <textarea
        class="textarea_desc"
        rows="2"
        cols="27"
        pInputTextarea
        placeholder="Nhập mô tả phòng"
        disabled
        [(ngModel)]="dataRoomSendToUpdate.description"
      ></textarea>
    </div>
    <div class="add_input_body">
      <label for="price" class="font-semibold w-6rem">
        Giá
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="price"
        class="flex-auto"
        autocomplete="off"
        required
        placeholder="Nhập giá/giờ"
        [disabled]="true"
        [(ngModel)]="dataRoomSendToUpdate.price"
      />
    </div>
    <div class="add_input_body">
     <label for="roomType" class="font-semibold w-6rem">
       Trạng thái
       <span class="text-red">(*)</span>
     </label>
     <p-dropdown
       optionLabel="code"
       optionValue="name"
       [options]="roomStatus"
       class="dropdown_search"
       placeholder="Chọn trạng thái phòng"
       autoWidth="false"
       [style]="{ width: '100%' }"
       [(ngModel)]="dataRoomSendToUpdate.status"
     />
   </div>
    <p-button class="btn_confirm_add" (click)="handleUpdateStatusRooom()">
     <i class="pi pi-user-edit icon-update"></i>Cập nhật
    </p-button>
  </p-dialog>
</div>
