.form-login {
  width: 275px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-login p {
  font-weight: 800;
  font-size: 25px;
  padding: 0;
  margin: 0;
}