<p-button class="btn_add" (click)="showDialog()"> + Thêm </p-button>

<form [formGroup]="userAddForm" (ngSubmit)="handleAddUser()">
<div class="add_input">
  <p-dialog
    header="Thêm người dùng"
    [modal]="true"
    [(visible)]="display"
    [style]="{ width: '33rem' }"
  >
    <div class="add_input_body">
      <label for="username" class="font-semibold w-6rem">
        Username
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="username"
        name="username"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập username"
        formControlName="username"
      />
    </div>
    <div *ngIf="userAddForm.get('username')?.invalid && userAddForm.get('username')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('username')?.errors?.['required']">Tên là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="phone" class="font-semibold w-6rem">
        Số điện thoại
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="phone"
        name="phone"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập số điện thoại"
        formControlName="phone"
      />
    </div>
    <div *ngIf="userAddForm.get('phone')?.invalid && userAddForm.get('phone')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('phone')?.errors?.['required']">Số điện thoại là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="email" class="font-semibold w-6rem">
        Email
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="email"
        name="email"
        class="flex-auto"
        autocomplete="off"
        type="email"
        placeholder="Nhập email"
        formControlName="email"
      />
    </div>
    <div *ngIf="userAddForm.get('email')?.invalid && userAddForm.get('email')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('email')?.errors?.['required']">Email là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="password" class="font-semibold w-6rem">
        Mật khẩu
        <span class="text-red">(*)</span>
      </label>
      <p-password
        [toggleMask]="true"
        id="password"
        name="password"
        type="password"
        placeholder="Nhập mật khẩu"
        formControlName="password"
      >
      </p-password>
    </div>
    <div *ngIf="userAddForm.get('password')?.invalid && userAddForm.get('password')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('password')?.errors?.['required']">Mật khẩu là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="dateOfBirth" class="font-semibold w-6rem">
        Nhập ngày sinh
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="dateOfBirth"
        name="dateOfBirth"
        class="flex-auto"
        autocomplete="off"
        type="date"
        placeholder="Nhập ngày sinh"
        formControlName="dateOfBirth"
      />
    </div>
    <div *ngIf="userAddForm.get('dateOfBirth')?.invalid && userAddForm.get('dateOfBirth')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('dateOfBirth')?.errors?.['required']">Ngày sinh là bắt buộc</small>
    </div>
    <div class="add_input_body">
      <label for="identificationNumber" class="font-semibold w-6rem">
        Nhập số CMND/CCCD
        <span class="text-red">(*)</span>
      </label>
      <input
        pInputText
        id="identificationNumber"
        name="identificationNumber"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập số CMND/CCCD"
        formControlName="identificationNumber"
      />
    </div>
    <div *ngIf="userAddForm.get('identificationNumber')?.invalid && userAddForm.get('identificationNumber')?.touched" class="field-error">
      <small *ngIf="userAddForm.get('identificationNumber')?.errors?.['required']">Số CMND/CCCD là bắt buộc</small>
    </div>
    <p-button class="btn_confirm_add" [disabled]="isSubmitDisabled" (click)="handleAddUser()">
      + Thêm
    </p-button>
  </p-dialog>
</div>
</form>