<p-button
    class="btn_add"
    (click)="showDialog()"
>
    + Thêm
</p-button>

<div class="add_input">
    <p-dialog
        header="Thêm người dùng"
        [modal]="true"
        [(visible)]="display"
        [style]="{ width: '33rem' }"
    >
        <div class="add_input_body">
            <label
                for="username"
                class="font-semibold w-6rem"
            >
                Username<span class="text-red"> (*)</span>:
            </label>
            <input
                pInputText
                id="username"
                class="flex-auto"
                autocomplete="off"
                placeholder="Nhập username"
                required
                [(ngModel)]="dataAddUser.username"
            >
        </div>
        <div class="add_input_body">
            <label
                for="phone"
                class="font-semibold w-6rem"
            >
                Số điện thoại<span class="text-red"> (*)</span>:
            </label>
            <input
                pInputText
                id="phone"
                class="flex-auto"
                autocomplete="off"
                required
                placeholder="Nhập số điện thoại"
                [(ngModel)]="dataAddUser.phone"
            >
        </div>
        <div class="add_input_body">
            <label
                for="email"
                class="font-semibold w-6rem"
            >
                Email<span class="text-red"> (*)</span>:
            </label>
            <input
                pInputText
                id="email"
                class="flex-auto"
                autocomplete="off"
                type="email"
                required
                placeholder="Nhập email"
                [(ngModel)]="dataAddUser.email"
            >
        </div>
        <div class="add_input_body">
            <label
                for="password"
                class="font-semibold w-6rem"
            >
                Mật khẩu<span class="text-red"> (*)</span>:
            </label>
            <p-password
                [toggleMask]="true"
                id="password"
                type="password"
                required
                placeholder="Nhập mật khẩu"
                [(ngModel)]="dataAddUser.password"
            >
            </p-password>
        </div>
        <div class="add_input_body">
            <label
                for="dateOfBirth"
                class="font-semibold w-6rem"
            >
                Nhập ngày sinh<span class="text-red"> (*)</span>:
            </label>
            <input
                pInputText
                id="dateOfBirth"
                class="flex-auto"
                autocomplete="off"
                type="date"
                required
                placeholder="Nhập ngày sinh"
                [(ngModel)]="dataAddUser.dateOfBirth"
            >
        </div>
        <div class="add_input_body">
            <label
                for="identificationNumber"
                class="font-semibold w-6rem"
            >
                Nhập số CMND/CCCD<span class="text-red"> (*)</span>:
            </label>
            <input
                pInputText
                id="identificationNumber"
                class="flex-auto"
                autocomplete="off"
                required
                placeholder="Nhập số CMND/CCCD"
                [(ngModel)]="dataAddUser.identificationNumber"
            >
        </div>
        <p-button
            class="btn_confirm_add"
            (click)="handleAddUser()"
        >
            + Thêm
        </p-button>
    </p-dialog>
</div>