<div class="title_room">
  <h2>Quản lý phòng</h2>
</div>

<div class="progress-spinner" *ngIf="isLoading==true">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="filter">
  <h3 class="title_filter">Bộ lọc tìm kiếm</h3>
  <div class="filter_body">
    <div class="filter_input_left">
      <div class="name_search">
        <span>Tên phòng:</span>
        <input
          class="input_search"
          type="text"
          pInputText
          placeholder="Nhập tên phòng"
        />
      </div>
      <div class="room_number_search">
        <span>Số phòng:</span>
        <input
          class="input_search"
          type="text"
          pInputText
          placeholder="Nhập số phòng"
        />
      </div>
      <div class="floor_search">
        <span>Tầng:</span>
        <input
          class="input_search"
          type="text"
          pInputText
          placeholder="Nhập số tầng"
        />
      </div>
    </div>
    <div class="filter_input_right">
      <div class="room_type_search">
        <span>Loại phòng:</span>
        <p-dropdown
          optionLabel="name"
          [options]="roomType"
          class="dropdown_search"
          placeholder="Chọn loại phòng"
          autoWidth="false"
          [style]="{ width: '100%' }"
        />
      </div>
      <div class="status_search">
        <span>Trạng thái:</span>
        <p-dropdown
          optionLabel="code"
          [options]="roomStatus"
          class="dropdown_search"
          placeholder="Chọn trạng thái phòng"
          [style]="{ width: '100%' }"
        />
      </div>
      <p-button class="btn_search">Tìm kiếm</p-button>
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<div class="room_table">
  <div class="table_header">
    <h3 class="title_room">Danh sách phòng</h3>
    <p-toast></p-toast>
    <app-room-add (callGetRoomBackAfterAddUpdate)="getAllRoomAgain()"></app-room-add>
  </div>
  <div class="table_body">
    <div class="card">
      <p-table [value]="listRoom" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Tên phòng
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="roomNumber">
              Số phòng
              <p-sortIcon field="roomNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="floor">
              Tầng
              <p-sortIcon field="floor"></p-sortIcon>
            </th>
            <th pSortableColumn="roomType">
              Loại phòng
              <p-sortIcon field="roomType"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Mô tả
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Giá/h
              <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Trạng thái
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th>Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
          <tr>
            <td>{{ room.name }}</td>
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.floor }}</td>
            <td>{{ room.roomType.name }}</td>
            <td>{{ room.description }}</td>
            <td>{{ room.price | currency: "VND" }}</td>
            <td *ngIf="room.status === 'ACTIVE'">Đang rảnh</td>
            <td *ngIf="room.status === 'LOCK'">Bị khóa</td>
            <td *ngIf="room.status === 'USING'">Đang sử dụng</td>
            <td *ngIf="room.status === 'CLEANING'">Đang dọn dẹp</td>
            <td *ngIf="room.status === 'USING' || room.status === 'APPROVED'" class="action_icon">
               <i class="pi pi-times"></i>
            </td>
            <td *ngIf="room.status === 'LOCK' || room.status === 'ACTIVE' || room.status === 'CLEANING'" class="action_icon">
              <app-room-update
                [roomDataIdFromParent]="room.id"
                [roomDataNameFromParent]="room.name"
                [roomDataRoomNumberFromParent]="room.roomNumber"
                [roomDataFloorFromParent]="room.floor"
                [roomDataRoomTypeIdFromParent]="room.roomType.id"
                [roomDataDescriptionFromParent]="room.description"
                [roomDataPriceFromParent]="room.price"
                [roomDataStatusFromParent]="room.status"
                (callGetRoomBackAfterAddUpdate)="getAllRoomAgain()"
              ></app-room-update>
              <app-room-status
                [roomDataIdFromParent]="room.id"
                [roomDataNameFromParent]="room.name"
                [roomDataRoomNumberFromParent]="room.roomNumber"
                [roomDataFloorFromParent]="room.floor"
                [roomDataRoomTypeIdFromParent]="room.roomType.id"
                [roomDataDescriptionFromParent]="room.description"
                [roomDataPriceFromParent]="room.price"
                [roomDataStatusFromParent]="room.status"
                (callGetRoomBackAfterAddUpdate)="getAllRoomAgain()"
              ></app-room-status>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="table_footer">
    <p-paginator></p-paginator>
  </div>
</div>
