<i class="pi pi-user-edit" (click)="showDialog()"></i>

<div class="add_input">
  <p-dialog
    header="Cập nhật thông tin người dùng"
    [modal]="true"
    [(visible)]="display"
    [style]="{ width: '33rem' }"
  >
    <div class="add_input_body">
      <label for="username" class="font-semibold w-6rem">
        Username<span class="text-red"> (*)</span>
      </label>
      <input
        pInputText
        id="username"
        class="flex-auto"
        autocomplete="off"
        placeholder="Nhập username"
        [(ngModel)]="dataUserSendToUpdate.username"
      />
    </div>
    <div *ngIf="fieldErrors.username" class="field-error">
      {{ fieldErrors.username }}
    </div>
    <div class="add_input_body">
      <label for="phone" class="font-semibold w-6rem">
        Số điện thoại<span class="text-red"> (*)</span>
      </label>
      <input
        pInputText
        id="phone"
        class="flex-auto"
        autocomplete="off"
        type="text"
        placeholder="Nhập số điện thoại"
        [(ngModel)]="dataUserSendToUpdate.phone"
      />
    </div>
    <div *ngIf="fieldErrors.phone" class="field-error">
      {{ fieldErrors.phone }}
    </div>
    <div class="add_input_body">
      <label for="email" class="font-semibold w-6rem">
        Email<span class="text-red"> (*)</span>
      </label>
      <input
        pInputText
        id="email"
        class="flex-auto"
        autocomplete="off"
        type="email"
        placeholder="Nhập email"
        [(ngModel)]="dataUserSendToUpdate.email"
      />
    </div>
    <div *ngIf="fieldErrors.email" class="field-error">
      {{ fieldErrors.email }}
    </div>
    <div class="add_input_body">
      <label for="dateOfBirth" class="font-semibold w-6rem">
        Nhập ngày sinh<span class="text-red"> (*)</span>
      </label>
      <input
        pInputText
        id="dateOfBirth"
        class="flex-auto"
        autocomplete="off"
        type="date"
        placeholder="Nhập ngày sinh"
        [(ngModel)]="dataUserSendToUpdate.dateOfBirth"
      />
    </div>
    <div class="add_input_body">
      <label for="identificationNumber" class="font-semibold w-6rem">
        Nhập số CMND/CCCD<span class="text-red"> (*)</span>
      </label>
      <input
        pInputText
        id="identificationNumber"
        class="flex-auto"
        autocomplete="off"
        type="text"
        placeholder="Nhập số CMND/CCCD"
        [(ngModel)]="dataUserSendToUpdate.identificationNumber"
      />
    </div>
    <div *ngIf="fieldErrors.identificationNumber" class="field-error">
      {{ fieldErrors.identificationNumber }}
    </div>
    <p-button class="btn_confirm_add" (click)="handleUpdateUser()">
      <i class="pi pi-user-edit icon-update"></i>Cập nhật
    </p-button>
    <div *ngIf="fieldErrors.locked" class="field-error-locked">
      {{ fieldErrors.locked }}
    </div>
  </p-dialog>
</div>
