<td [style]="{ cursor: 'pointer' }" (click)="openDetailBooking()">
  {{ bookingIdFromParent }}
</td>

<p-dialog
  [header]="'Chi tiết lịch đặt ' + bookingIdFromParent"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <div *ngFor="let item of bookingDetail">
    <p><b>Mã lịch đặt:</b> {{ item.id }}</p>
    <p><b>Khách đặt:</b> {{ item.user.username }} - {{ item.user.phone }}</p>
    <p><b>Phòng:</b> {{ item.room.roomNumber }} - {{ item.room.name }}</p>
    <p><b>Thời gian check-in:</b> {{ item.checkInDate | date : "dd-MM-yyyy - HH:mm" }}</p>
    <p><b>Thời gian check-out:</b> {{ item.checkoutDate | date : "dd-MM-yyyy - HH:mm" }}</p>
    <p><b>Cọc:</b> {{ item.deposit.toString() | currency: "VND" }}</p>
    <p><b>Tổng tiền:</b> {{ item.amount.toString() | currency: "VND" }}</p>
    <p><b>Trạng thái:</b> {{ item.status }}</p>
  </div>
</p-dialog>
